*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    margin-top: 50px;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.form {
    margin: 10px;
}